<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi primer documento Html</title>
</head>
<body>
    <h1>Advenger!</h1>

    <h2>Viuda Negra</h2>

    <img src="/imagenes/images.jpg" alt="">

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque facere eaque 
    in rem inventore impedit nihil non repudiandae! Qui sapiente distinctio unde nostrum earum, 
    labore velit quidem aut ea commodi!</p>

    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
         Harum beatae deserunt suscipit modi sapiente, saepe consectetur magnam voluptatibus quod consequuntur?
          Eum perspiciatis illum laborum, sed ipsam voluptatibus. Excepturi, molestias error?</p>

   <ol>
       <li> item 1</li>
       <li> item 2</li>
       <li> item 3</li>
   </ol>


   <ul>
    <li> item 1</li>
    <li> item 2</li>
    <li> item 3</li>
   </ul>

   <a href="https://www.google.com.ar/"> Ir a google  </a>


</body>
</html>