<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/normalize.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Anton&family=Roboto&display=swap" rel="stylesheet">

    <title>MercadoLiebre</title>
</head>

<body>

    <header>
        <img src="/imagenes/logo-mercado-liebre.svg" alt="">

        <p>Lugar para poner la barra de búsqueda </p> <br>

        <p>Comprá en cuotas y sin tarjeta de crédito </p>
        <ul>
            <li> <a href=""> Ofertas </a> </li>
            <li><a href=""> Tiendas Oficiales </a></li>
            <li><a href=""> Vender </a></li>
            <li><a href=""> Ayuda </a></li> <br>

            <li> <a href=""> Creá tu cuenta </a> </li>
            <li><a href=""> Ingresá </a></li>
            <li><a href=""> Mis compras </a></li>

        </ul>
    </header>
    <main>
        <img src="/imagenes/img-home-banner.jpg" alt="Banner">

        <h2>Basado en tu última visita</h2>

        <img src="/imagenes/img-cafetera-moulinex.jpg" alt="cafetera Moulinex">

        <p>$6.770</p>
        <p>40% off</p>
        <h3> Cafetera Moulinex </h3>

        <img src="/imagenes/img-macbook-pro-2019.jpg" alt="MacBook">

        <p>$230.000</p>
        <p>20% off </p>
        <h3> MacBook Pro 2019</h3>

        <img src="/imagenes/img-samsung-galaxy-s10.jpg" alt="samsung-galaxy-s10">

        <p>$70.500 </p>
        <p>10% off </p>
        <h3> Samsung Galaxy S10 </h3>

        <img src="/imagenes/img-tv-samsung-smart.jpg" alt=" tv Samsung">

        <p>$23.200 </p>
        <p>5% off </p>
        <h3> SmartTv Samsung 43 </h3>

        <h2>Sección de Ofertas</h2>
        <img src="/imagenes/img-cafetera-moulinex.jpg" alt="">

        <p>$6.770</p>
        <p>40% OFF</p>
        <h3> Cafetera Moulinex </h3>

        <img src="/imagenes/img-macbook-pro-2019.jpg" alt="">

        <p>$230.000</p>
        <p>20% off </p>
        <h3> MacBook Pro 2019</h3>

        <img src="/imagenes/img-samsung-galaxy-s10.jpg" alt="">

        <p>$70.500 </p>
        <p>10% off </p>
        <h3> Samsung Galaxy S10 </h3>

        <img src="/imagenes/img-tv-samsung-smart.jpg" alt="">

        <p>$23.200 </p>
        <p>5% off </p>
        <h3> SmartTv Samsung 43 </h3>

    </main>

    <footer>
        <h2>Pagá con tarjeta o en efectivo</h2>

        <p>Con Mercado Liebre Cash, tenés cuotas sin </p>
        <p>interés con tarjeta o efectivo en puntos de</p>
        <p> pago. ¡Y siempre es seguro! </p>

        <br>

        <h2>Envío gratis desde $ 2.500</h2>

        <p>Solo por estar registrad@ en Mercado Liebre </p>
        <p> tenés envíos gratis en miles de productos. Es</p>
        <p> un beneficio de Mercado Puntos. </p>
        <br>

        <h2>Seguridad, de principio a fin</h2>

        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.

            <br>

            <h2>Copyright © 1999-2020 MercadoLiebre S.R.L.</h2>

    </footer>

</body>



</html>